.adding {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.changing__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
}
